/* Error: expected ";".
 *    ,
 * 56 |     font-family: font-family: 'Poppins', serif;
 *    |                             ^
 *    '
 *   scss\components\_typography.scss 56:29  @use
 *   scss\style.scss 8:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \";\".\a    \2577 \a 56 \2502      font-family: font-family: 'Poppins', serif;\d\a    \2502                              ^\a    \2575 \a   scss\\components\\_typography.scss 56:29  @use\a   scss\\style.scss 8:1                     root stylesheet";
}
