/* Error: expected ";".
 *    ,
 * 25 |         color: color: rgba($primary, 0.7);
 *    |                     ^
 *    '
 *   scss\sections\_testimonials.scss 25:21  @use
 *   scss\style.scss 16:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 25 \2502          color: color: rgba($primary, 0.7);\d\a    \2502                      ^\a    \2575 \a   scss\\sections\\_testimonials.scss 25:21  @use\a   scss\\style.scss 16:1                    root stylesheet';
}
